<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faceblog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">faceblog</a>
      </h1>
      <nav class="navbar navbar-info">
        <a href="/login">login</a>
      </nav>
      <nav class="navbar navbar-info">
        {{#if loggedIn}}
        <a class="navbar-brand" href="/dashboard">dashboard</a>
        <a class="navbar-brand" href="/logout">logout</a>
        {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="blockquote-footer">
      2021 faceblog
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>
</html>