* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color:#f2f2f2;
  }
  header {
    color:#fff
  }
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color .1s;
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #333;
  }
  nav {
    border-bottom: 3px solid #333;
  }
  button {
    background-color: #0a4650;
    border: 0;
    padding: 1% 5%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  article{
    margin:auto;
  }
  
  button:hover {
    background-color: #18a2b8;
  }
  
  .post-list {
    margin: auto;
    padding: auto;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #010202;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
    background-color:#e7f9fc
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  .main-title{
    font-size: 5vw;

  }
  .dashboard{
    margin:20px;
    text-align: center;
  }

  textarea {
    min-width: 80%;
    min-height: 100px;
}
input {
  width: 80%;
}
h2{
  color:#0a4650;
}
  .btn-no-style {
    background: none;
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  .card-header{
    color:#fff;
    background-color:#0d5661;
    font-size: 2vw;
  }
  .card-footer{
    color:#333;
    background-color:#c9c9c9;
    font-size: 1em;
  }
  .timestamp{
    font-size: 1vw;
    text-align:right;
  }
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
    border-radius: 5px;
  }
  .card-text.body {
    margin:15px;
  }
div.body{
  margin:20px;
}
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    margin-top: 2%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color:#686868;
    width:50%;
    text-align: right;
    margin:auto;

  }
  .comments{
    color:#333;
  }
  .navbar-fixed-top{
  border-bottom: 10px solid#333;
}
  .comment-form {
    margin-bottom: 5%;
  }
  .username{
    color:#333;
    font-style: italic;

  }
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #e7f9fc;
  }
  
  .comment .meta {
    font-size: 80%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 80%;
    background-color: #e7f9fc;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #333;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }